<script type="text/javascript">
	function loadKernel(id){
	var kernelElement = document.getElementById(id);
	var kernelSource = kernelElement.text;
	if (kernelElement.src != "") {
	var mHttpReq = new XMLHttpRequest();
	mHttpReq.open("GET", kernelElement.src, false);
	mHttpReq.send(null);
	kernelSource = mHttpReq.responseText;} 
	return kernelSource;}
</script>

<script id="preprocessing" type="text/x-opencl">
  __kernel void buildCluster( __global unsigned int* x,  __global unsigned int * y,   __global unsigned int* formattedinsrc, 
					__global unsigned int* minx, __global unsigned int* miny, __global unsigned int* maxx, __global unsigned int* maxy,
					unsigned int partioncount, unsigned int nodelookups, unsigned int nodecount, unsigned int poffset, unsigned int fissize){
	 unsigned int gtid = get_global_id(0);
	 if(gtid < partioncount){
		for(int i = 0; i < nodelookups; i++){  //If a node falls in between min and max values, add it to the partation
			if(x[i] >= minx[gtid] && x[i] <= maxx[gtid] && y[i] >= miny[gtid] && y[i] <= maxy[gtid]){
				int j = 0;
				while(formattedinsrc[j + gtid * fissize] != (nodecount + 1)){
					if(j  + 1+ gtid * fissize < partioncount * fissize){
					j++;}
					else{
						break;}}
				formattedinsrc[j + gtid * fissize] = poffset + i;}}}} 
</script>


<script id = "MakeAJ" type="text/x-opencl">

		__kernel void makeAJ(__global unsigned int* x, __global unsigned int* y,  __global unsigned int* AJ, __global unsigned int* formattedinsrc,
		unsigned int partioncount, unsigned int minnode, unsigned int nodecount, unsigned int AJsize, unsigned int fissize){
		unsigned int gtid = get_global_id(0);
		if (gtid < AJsize){
			int gajid = ((minnode * minnode + minnode) / 2) + gtid;
			if (gajid < AJsize){
				float ti = .5 * (-1 + pow(1+8*gajid, .5));
			unsigned int i = ti;
			unsigned int j = gajid - (i * i + i) / 2;
			for(int a = 0; a < partioncount; a++){
				for(int b = 0; b < 20; b++){
					if(formattedinsrc[a * 20 + b] == i){
						for(int c = 0; c < 20; c++){
							if(formattedinsrc[a * 20 + c] == j){
								//Found a match in partion
								int xdistance = 100;
								int ydistance = 100;
								if(x[formattedinsrc[a * 20 + b]] >= x[formattedinsrc[a * 20 + c]]){
									xdistance = x[formattedinsrc[a * 20 + b]] - x[formattedinsrc[a * 20 + c]];}
								else{
									xdistance = x[formattedinsrc[a * 20 + c]] - x[formattedinsrc[a * 20 + b]];}
								if(y[formattedinsrc[a * 20 + b]] >= y[formattedinsrc[a * 20 + c]]){
									ydistance = y[formattedinsrc[a * 20 + b]] - y[formattedinsrc[a * 20 + c]];}
								else{
									ydistance = y[formattedinsrc[a * 20 + c]] - y[formattedinsrc[a * 20 + b]];}
								int distance = xdistance + ydistance;
								AJ[gtid] = distance;
		}}}}}}}}

</script>

<script type="text/javascript">       

//FUNCTION FAMILY FOR TOTAL ADJACENCY MATRIX
//getLinearPos(i, j) -> converts i and j into position into adjacency matrix
//getIndex1(arr, i, j) -> returns proper subMatrix index
//getIndex2(arr, i, j) -> returns proper index into subMatrix
//addArray(arr) -> adds a submatrix to complete size of adjacency matrix
//getContents(arr, i, j) -> returns contents of matrix at position i, j
//setContents(arr, i, j, distance) -> sets contents of matrix at position i, j
//getBuffer(arr, nodecount, i, k, p) -> returns a buffer with adjacency matrix contents starting at
	//row i, out to most complete row, most complete row is written into k.value,
	//number of valid elements in buffer is written into p.value
//setBuffer(arr, i, buffer, size) - > copy buffer into arr up unto size
function getLinearPos(i, j){
	return (((i + 1) * i) / 2) + j;
}
function getIndex1(arr, i, j){
	var k = getLinearPos(i, j);
	var index = k >>> 27;
	return index;	
}
function getIndex2(arr, i, j){
	var k = getLinearPos(i, j);
	var index = k % (1 << 27);
	return index;
}		
function getKIndex(i, j){
	var k = ((i * (i + 1)) / 2) + j;
	return k;
}
function countNeighors(arr, id, eps, nodecount){
	var sum = 0;
	for(var i = 0; i < nodecount; i = i + 1){
		if(getContents(arr, id, i) <= eps && getContents(arr, id, i) > 0){
			sum = sum + 1;}}
	return sum;}
	

function getIJ(k, p, q){
	var i = 8*k + 1;
	//i = Math.floor((Math.pow((k + 1), (1 / 2)) - 1) / 2);
	//i = (k + 1);
	i = Math.sqrt(i);
	i -= 1;
	i /= 2;
	i = Math.floor(i);
	var j = k - (i * (i + 1)) / 2;
	var ret = { I:i, J:j };
	return ret;
}
function addArray(arr){
	console.log("Inside add array");
	var k = Uint32Array(1 << 27);
	console.log(arr.length);
	arr.push(k);
}
function getContents(arr, i, j){
	return arr[getIndex1(arr, i, j)][getIndex2(arr, i, j)];
}
function setContents(arr, i, j, distance){
	arr[getIndex1(arr, i, j)][getIndex2(arr, i, j)] = distance;
}
function getBuffer(arr, nodecount, i, k, p){
	
	var size = 1 << 26;
	console.log("Inside getBuffer");
	var buff = new Uint32Array(size);
	var tmp = i + 1;
	var count = 0;
	console.log("entering loop");
	while(((count + tmp) <= size) && (count < nodecount)){	//loop determines what rows to copy into buffer, and counts only complete rows
		count += tmp;
		tmp++;
	}
	console.log(count + tmp);
	k.value = tmp - 1;														//k.value stores the most complete row that was added to the adjacency matrix
	p.value = count;															//p.value stores what the used size of the buffer is, such that (p.value - 1) is the highest index copied
	var tmpi = i;
	var tmpj = 0;
	
	for(var del = 0; del < count; del++){							//for each valid entry of the buffer
		buff[del] = arr[getIndex1(arr, tmpi, tmpj)][getIndex2(arr, tmpi, tmpj)];	//copy entry from adjacency matrix into buffer
		if(tmpi === tmpj){													//if j-index matches i-index, then wrap to next row
			tmpi++;
			tmpj = 0;
		}else{																	//else go to next j-index
			tmpj++;
		}
	}

	return buff;																//return created buffer
}
function setBuffer(arr, i, buffer, size){
	var tmpi = i;
	var tmpj = 0;
	console.log(buffer);
	for(var tmpk = 0; tmpk < size; tmpk++){
		arr[getIndex1(arr, tmpi, tmpj)][getIndex2(arr, tmpi, tmpj)] = buffer[tmpk];
		if(tmpi === tmpj){
			tmpi++;
			tmpj = 0;
		}else{
			tmpj++;
		}
	}
}

function BuildFIS(nodecount, fissize, partioncount, partitions, ctx, Nodex, Nodey){

	var formattedinsrc = new Uint32Array(partioncount * fissize);
		  for(var i = 0; i < partioncount * fissize; i++){
			formattedinsrc[i] = nodecount + 1;}
		  var minx = new Uint32Array(partioncount);
		  var miny = new Uint32Array(partioncount);
		  var maxx = new Uint32Array(partioncount);
		  var maxy = new Uint32Array(partioncount);

		  for(var i = 0; i < partioncount; i++){
			minx[i] = partitions[i].mn.x;
			miny[i] = partitions[i].mn.y;
			maxx[i] = partitions[i].mx.x;
			maxy[i] = partitions[i].mx.y;}


		  var numofnodecuts = nodecount / 2000; 
		  var ppk = partioncount;
		  var npk = Math.ceil(nodecount / numofnodecuts);
	for(var n = 0; n < nodecount; n = n + npk){
			  var tx = new Uint32Array(npk);
			  var ty = new Uint32Array(npk);
			  for(var i = 0; i < npk; i = i + 1){
				 tx[i] = Nodex[n + i];
				 ty[i] = Nodey[n + i];}
			 if(n + npk > nodecount){
				npk = nodecount - n;}
			  for(var p = 0; p < partioncount; p = p + ppk){
				  // Setup WebCL context using the default device of the first available plan 


								   
				  // Reserve buffers
				  var bufSize = npk * 4; // size in bytes
				  var pbufSize = ppk * 4;
				  var device_x = ctx.createBuffer (WebCL.CL_MEM_READ_ONLY, bufSize);
				  var device_y = ctx.createBuffer (WebCL.CL_MEM_READ_ONLY, bufSize);
				  var device_formattedinsrc = ctx.createBuffer (WebCL.CL_MEM_WRITE_ONLY, pbufSize * fissize);
				  var device_minx = ctx.createBuffer (WebCL.CL_MEM_READ_ONLY, pbufSize);
				  var device_miny = ctx.createBuffer (WebCL.CL_MEM_READ_ONLY, pbufSize);
				  var device_maxx = ctx.createBuffer (WebCL.CL_MEM_READ_ONLY, pbufSize);
				  var device_maxy = ctx.createBuffer (WebCL.CL_MEM_READ_ONLY, pbufSize);

				  var tminx = new Uint32Array(ppk);
				  var tminy = new Uint32Array(ppk);
				  var tmaxx = new Uint32Array(ppk);
				  var tmaxy = new Uint32Array(ppk);
				  for(var i = 0; i < ppk; i = i + 1){
					tminx[i] = minx[p + i];
					tminy[i] = miny[p + i];
					tmaxx[i] = maxx[p + i];
					tmaxy[i] = maxy[p + i];}
				   var tfis = new Uint32Array(ppk * fissize);
					for(var i = 0; i < ppk * fissize; i = i + 1){
						tfis[i] = formattedinsrc[(p * fissize) +i];}
				  // Create and build program for the first device
				  var kernelSrc = loadKernel("preprocessing");
				  var program = ctx.createProgramWithSource(kernelSrc);
				  var devices = ctx.getContextInfo(WebCL.CL_CONTEXT_DEVICES);
				  
				  try {
					program.buildProgram ([devices[0]], "");
				  } catch(e) {
					alert ("Failed to build WebCL program. Error "
						   + program.getProgramBuildInfo (devices[0], WebCL.CL_PROGRAM_BUILD_STATUS)
						   + ":  " + program.getProgramBuildInfo (devices[0], WebCL.CL_PROGRAM_BUILD_LOG));
					throw e;
				  }
				  
				  // Create kernel and set arguments
				  var kernel = program.createKernel ("buildCluster");
				  kernel.setKernelArg (0, device_x);
				  kernel.setKernelArg (1, device_y);    
				  kernel.setKernelArg (2, device_formattedinsrc);
				  kernel.setKernelArg (3 ,device_minx);
				  kernel.setKernelArg (4, device_miny);
				  kernel.setKernelArg (5, device_maxx);
				  kernel.setKernelArg (6, device_maxy);
				  kernel.setKernelArg (7, ppk, WebCL.types.UINT);
				  kernel.setKernelArg (8, npk, WebCL.types.UINT);
				  kernel.setKernelArg (9, nodecount, WebCL.types.UINT);
				  kernel.setKernelArg (10, n, WebCL.types.UINT);
				  kernel.setKernelArg(11, fissize, WebCL.types.UINT);
				 

				  // Create command queue using the first available device
				  var cmdQueue = ctx.createCommandQueue (devices[0], 0);
				  console.log("Created formattedinput");
				  cmdQueue.enqueueBarrier();
				  
				  // Write the buffer to OpenCL device memory
				  cmdQueue.enqueueWriteBuffer (device_x, false, 0, bufSize, tx, []);
				  cmdQueue.enqueueWriteBuffer (device_y, false, 0, bufSize, ty, []);
				  cmdQueue.enqueueWriteBuffer (device_minx, false, 0, pbufSize, tminx, []);
				  cmdQueue.enqueueWriteBuffer (device_miny, false, 0, pbufSize, tminy, []);
				  cmdQueue.enqueueWriteBuffer (device_maxx, false, 0, pbufSize, tmaxx, []);
				  cmdQueue.enqueueWriteBuffer (device_maxy, false, 0, pbufSize, tmaxy, []);
				  cmdQueue.enqueueWriteBuffer (device_formattedinsrc, false, 0, pbufSize * fissize, tfis, []);
				  
				  // Init ND-range
				  var localWS = [30];
				  var globalWS = [Math.ceil (npk / localWS) * localWS];


				  
				  // Execute (enqueue) kernel
				  cmdQueue.enqueueNDRangeKernel(kernel, globalWS.length, [], globalWS, localWS, []);

				  // Read the result buffer from OpenCL device
				  cmdQueue.enqueueReadBuffer (device_formattedinsrc, true, 0, pbufSize * fissize, tfis, []);    
				  
				  cmdQueue.enqueueBarrier();
				  cmdQueue.finish(); 
				  for(var i = 0; i < ppk * fissize; i = i + 1){
					 formattedinsrc[(p * fissize) +i] = tfis[i];}
				 tx = null;
				 ty = null;
				 tminx = null;
				 tminy = null;
				 tmaxx = null;
				 tmaxy = null;
				 tfis = null;
			  }}
			  return formattedinsrc;
}
function sortThem(pt, xp, yp){
	for(var i = 0; i < pt.length; i++){
		xp[i] = pt[i].x;
		yp[i] = pt[i].y;
	}

	sort(xp, 0, xp.length-1);
	sort(yp, 0 , yp.length-1);
}

function BuildAJKernel(ctx){
		  kernelSrc = loadKernel("MakeAJ");
		  program = ctx.createProgramWithSource(kernelSrc);
		  devices = ctx.getContextInfo(WebCL.CL_CONTEXT_DEVICES);
		  
		  output.innerHTML += "<br> Building program";
		  try {
			program.buildProgram ([devices[0]], "");
		  } catch(e) {
			alert ("Failed to build WebCL program. Error "
				   + program.getProgramBuildInfo (devices[0], WebCL.CL_PROGRAM_BUILD_STATUS)
				   + ":  " + program.getProgramBuildInfo (devices[0], WebCL.CL_PROGRAM_BUILD_LOG));
			throw e;
		  }}
		  

function RunAJKernel(ctx, partioncount, AJ, AJsize, x, y, fis, minnode, nodecount, AJElementCount, fissize){
		console.log("Running AJ Kernel");
		 var device_AJ = ctx.createBuffer (WebCL.CL_MEM_READ_ONLY, AJsize * 4);
		 var device_fis = ctx.createBuffer ( WebCL.CL_MEM_READ_ONLY, partioncount * fissize * 4);
		
		 var device_y = ctx.createBuffer (WebCL.CL_MEM_READ_ONLY, nodecount * 4);
		 var device_x = ctx.createBuffer (WebCL.CL_MEM_READ_ONLY, nodecount * 4);
		  
		  var kernel = program.createKernel ("makeAJ");
		  kernel.setKernelArg (0, device_x);
		  kernel.setKernelArg (1, device_y);
		  kernel.setKernelArg (2, device_AJ);
		  kernel.setKernelArg (3, device_fis);
		  kernel.setKernelArg (4, partioncount, WebCL.types.UINT);
		  kernel.setKernelArg (5, minnode, WebCL.types.UINT);
		  kernel.setKernelArg (6, nodecount, WebCL.types.UINT);
		  kernel.setKernelArg (7, AJElementCount, WebCL.types.UINT);
		  kernel.setKernelArg (8, fissize, WebCL.types.UINT);
		  cmdQueue = ctx.createCommandQueue (devices[0], 0);


		  console.log("Writing Queue");
		  // Write the buffer to OpenCL device memory
		  cmdQueue.enqueueWriteBuffer (device_x, false, 0, nodecount * 4, x, []);
		  cmdQueue.enqueueWriteBuffer (device_y, false, 0, nodecount * 4, y, []);
		  cmdQueue.enqueueWriteBuffer (device_AJ, false, 0, AJsize * 4, AJ, []);
		  cmdQueue.enqueueWriteBuffer (device_fis, false, 0, partioncount * fissize * 4, fis, []);

		  
		  console.log("Starting AJ Kernel from inside");
		  var localWS = [30];
		  var globalWS = [Math.ceil (nodecount / localWS) * localWS];
		  cmdQueue.enqueueNDRangeKernel(kernel, globalWS.length, [], globalWS, localWS, []);
		  
		  
		  cmdQueue.enqueueReadBuffer (device_AJ, false, 0, AJsize * 4, AJ, []);    
		  cmdQueue.finish();
		  return AJ;
}
function point(x, y){
	this.x = x;
	this.y = y;
	this.ntype = 'u';
}
function sortSubEdges(arr, lindex, rindex){
	if(lindex >= rindex){
		return;
	}else{
		var piv = lindex + Math.floor((rindex - lindex) / 2);
		
		//document.write(piv + ":" + arr[piv] + "<br />");
		
		var less = [];
		var greater =[];
		var equal = [];
		for(var i = lindex; i <= rindex; i++){
			if(arr[i].distance < arr[piv].distance){
				less.push(arr[i]);
			}else if(arr[i].distance > arr[piv].distance){
				greater.push(arr[i]);
			}else{
				equal.push(arr[i]);
			}
		}
		var baseStart = lindex;
		var baseEnd = less.length + lindex;
		for(var i = baseStart; i < baseEnd; i++){
			arr[i] = less[i - baseStart];
		}
		
		piv = baseStart = baseEnd;
		baseEnd += equal.length;
		for(var i = baseStart; i < baseEnd; i++){
			arr[i] = equal[i - baseStart];
		}
		
		baseStart = baseEnd;
		baseEnd += greater.length;
		for(var i = baseStart; i < baseEnd; i++){
			arr[i] = greater[i - baseStart];
		} 
		
		sortSubEdges(arr, lindex, piv - 1);
		sortSubEdges(arr, piv + 1, rindex);
	}
}
function sortEdges(edges){
	sortSubEdges(edges, 0, edges.length-1);
}

function edge(I, J, Distance){
	this.i = I;
	this.j = J;
	this.distance = Distance;
}

//Replaces all roots == higherValue with lowestValue
function replaceRoot(rootArray, higherNode, lowerNode){
	var higherValue = max(rootArray[higherNode], rootArray[lowerNode]);
	var lowerValue = min(rootArray[higherNode], rootArray[lowerNode]);
	
	for(var k = 0; k < rootArray.length; k++){
	//console.log("Higher value" + higherNode + " Lower Value " + lowerNode);
		if(rootArray[k] === higherValue){
			rootArray[k] = lowerValue;
		}
	}
}				
// Constructs an array of Edge objects from the one-dimensional matrix.
// Each Edge object has the following fields: i, j, distance.
// @param matrix 
function construct(matrix, edges) {
	console.log("Inside construct1");
	var size = matrix.length;
	var iTable = createITable(size); //Makes a lookup table for row numbers.
	var jTable = createJTable(size); //Makes a lookup table for col numbers. 

	console.log("Inside construct2");
	for (var i = 0; i < size; i++) { 		//For each item in the matrix...

		var pointI = iTable[i]; 			//Lookup the row number.
		var pointJ = jTable[i];				//Lookup the col number.
		var distance = matrix[i];			//Get the distance from the matrix.

		//Create a temporary Edge object.
		var currentEdge = {
			'i': pointI < pointJ ? pointI : pointJ,
			'j': pointI < pointJ ? pointJ : pointI,
			'distance': distance
		};

		if (currentEdge.distance !== 0) {
			edges.push(currentEdge);			//Add the currentEdge object to the edges array.
		}
	}
	
	console.log("Inside construct3");
}

		// Helper function. Creates a lookup table for j-values.
		// @param size - the total length of the one-dimensional matrix
		// @return jTable - an array mapping matrix indices to column number.
function createJTable(size) {
	var jTable = [];
	jTable.length = size;
	var index = 0;
	for (var i = 1; index < size; i++) {
		for (var j = 0; j < i; j++) {
			jTable[index++] = j;
		}
	}
	return jTable;
}
function min(a, b){
	if(a < b){
		return a;
	}else{
		return b;}}
function max(a, b){
	if(a < b){
		return b;
	}else{
		return a;
	}
}
function postProcessing(matrix, nodeCount, eps) {
	
	console.log("Inside Post Processing1");
	var edges = [];
	construct(matrix, edges);
	console.log("Inside Post Processing2");
	sortEdges(edges);
	console.log(edges);
	var rootArray = [];			
	console.log("Inside Post Processing3");	
	for(var p = 0; p < nodeCount; p++){
		rootArray.push(p);
	} 
	console.log(rootArray);
	console.log("Inside PostProcessing4");
	//for(var p = 0; p < edges.length && rootArray.length < (nodeCount - 1) && edges[p].distance <= eps; p++){
	for(var p = 0; p < edges.length && edges[p].distance <= eps; p++){		
		if(!connected(edges[p].i, edges[p].j, rootArray)){
				
				var mn = min(edges[p].i, edges[p].j);
				var mx = max(edges[p].i, edges[p].j);
				//console.log("mn " + mn + " mx " + mx);
				replaceRoot(rootArray, mx, mn);
				//console.log("!connected");
			}
			//console.log(rootArray);
	}

	return rootArray; 
	
}

// Helper function. Creates a lookup table for i-values.
// @param size - the total length of the one-dimensional matrix
// @return iTable - an array mapping matrix indices to row number.
function createITable(size) {
	var iTable = [];
	iTable.length = size;
	var index = 0;
	for (var i = 0; index < size; i++) {
		for (var j = 0; j <= i; j++) {
			iTable[index++] = i;
		}
	}
	return iTable;
}

// Checks to see if the two index positions in rootArray have the same value,
// thereby checking to see if the two trees are already connected or not.
function connected(indexU, indexV, rootArray) {
	return (rootArray[indexU] == rootArray[indexV])
}
function partition(mn, mx){
	var mxx = max(mn.x, mx.x);
	var mxy = max(mn.y, mx.y);
	var mnx = min(mn.x, mx.x);
	var mny = min(mn.y, mx.y);
	
	this.mn = new point(mnx, mny);
	this.mx = new point(mxx, mxy);
} 
function sort(arr, lindex, rindex){
	if(lindex >= rindex){
		return;
	}else{
		var piv = lindex + Math.floor((rindex - lindex) / 2);
		
		//document.write(piv + ":" + arr[piv] + "<br />");
		
		var less = [];
		var greater =[];
		var equal = [];
		for(var i = lindex; i <= rindex; i++){
			if(arr[i] < arr[piv]){
				less.push(arr[i]);
			}else if(arr[i] > arr[piv]){
				greater.push(arr[i]);
			}else{
				equal.push(arr[i]);
			}
		}
		var baseStart = lindex;
		var baseEnd = less.length + lindex;
		for(var i = baseStart; i < baseEnd; i++){
			arr[i] = less[i - baseStart];
		}
		
		piv = baseStart = baseEnd;
		baseEnd += equal.length;
		for(var i = baseStart; i < baseEnd; i++){
			arr[i] = equal[i - baseStart];
		}
		
		baseStart = baseEnd;
		baseEnd += greater.length;
		for(var i = baseStart; i < baseEnd; i++){
			arr[i] = greater[i - baseStart];
		} 

		sort(arr, lindex, piv - 1);
		sort(arr, piv + 1, rindex);
	}
	}
function count_part(pt, height, width, prts, pc){
	if(width > 1 && height > 1){
		var N = pt.length;
		var hCount = max(Math.ceil(N / width), 1);
		var vCount = max(Math.ceil(N / height), 1);
	
		var xedges = [];
		var yedges = [];
		
		var xp = [];
		var yp = [];
		
		sortThem(pt, xp, yp);
		
		for(var i = 0; i * hCount < xp.length; i++){
			xedges.push(xp[i * hCount]);
		}
		if(xedges.length < width + 1){
			//document.write("testA");
			xedges.push(xp[xp.length - 1]);
		}
		
		for(var i = 0; i * vCount < yp.length; i++){
			yedges.push(yp[i * vCount]);
		}
		if(yedges.length < height + 1){
			//document.write("testB");
			yedges.push(yp[yp.length - 1]);
		}
		
		for(var i = 0; i < yedges.length - 1; i++){
			for(var j = 0; j < xedges.length - 1; j++){
				var pt1 = new point(xedges[j], yedges[i]);
				var pt2 = new point(xedges[j + 1], yedges[i + 1]);
				var part1 = new partition(pt1, pt2);
				prts.push(part1);
				pc[0] = pc[0] + 1;
			}
		}
		output.innerHTML = "Done with count_part";
	}
}

function cleanpartitions(prts, pc){
	for(var i = 0; i < pc; i++){
		if(prts[i].mn.x < 0){
			var tmpy = prts[i].mn.y;
			prts[i].mn = new point(0, tmpy);
			}
		if(prts[i].mn.y < 0){
			var tmpx = prts[i].mn.x;
			prts[i].mn = new point(tmpx, 0);
			}} }
			
function square_part(pw, ph, height, width, prts, pc){
			for(var h = 0; h< height; h = h + ph){
				for(var w = 0; w < width; w = w + pw){
				var p = new point(w, h);
				var q = new point(w + pw, h + ph);
				prts.push(new partition(p, q));
				pc[0] = pc[0] + 1;}}
	}
function no_ghost(prts, epsilon){
	for(var i = 0; i < prts.length; i++){
		prts[i].mn.x = prts[i].mn.x - epsilon;
		prts[i].mn.y = prts[i].mn.y - epsilon;
		prts[i].mx.x = prts[i].mx.x + epsilon;
		prts[i].mx.y = prts[i].mx.y + epsilon;
	}
}
function ghost(prts, eps){
	var g = [];
	for(var i = 0; i < prts.length; i++){
		var pt1 = new point(prts[i].mn.x, prts[i].mn.y-eps);
		var pt2 = new point(prts[i].mx.x, prts[i].mn.y+eps);
		var part = new partition(pt1, pt2);
		g.push(part);
		pt1 = new point(prts[i].mx.x-eps, prts[i].mn.y);
		pt2 = new point(prts[i].mx.x+eps, prts[i].mx.y);
		part = new partition(pt1, pt2);
		g.push(part);
		pt1 = new point(prts[i].mx.x-eps, prts[i].mn.y-eps);
		pt2 = new point(prts[i].mx.x+eps, prts[i].mn.y+eps);
		part = new partition(pt1, pt2);
		g.push(part);
	}
	for(var i = 0; i < g.length; i++){
		prts.push(g[i]);
	}
}
	
function DBScan(nodes, width, height, eps, minPts) {

// All output is written to element by id "output"
var output = document.getElementById("output");
output.innerHTML = "Starting program";
try {
	  // First check if the WebCL extension is installed at all 
	  if (window.WebCL == undefined) {
		alert("Unfortunately your system does not support WebCL. " +
			  "Make sure that you have both the OpenCL driver " +
			  "and the WebCL browser extension installed.");
		return false;
	  }
	
	  //Variables
	 var nodecount = nodes.length;
	  var pw = 20;
	  var ph = 20;
	  var fissize = 600;
	  var partitions = [];  
	  var pc = [];
		pc[0] = 0;
	 

	  square_part(pw, ph, height, width, partitions, pc);
	  var partioncount = pc[0];
	  console.log(partioncount);
	  console.log("Making noghost");
	  no_ghost(partitions, eps);
	  console.log("Cleaning Partitions");
	  cleanpartitions(partitions, partioncount);

	  var Nodex= new Uint32Array(nodecount);    
	  var Nodey= new Uint32Array(nodecount);
	  for ( var i=0; i<nodecount;  i=i+1) {
		Nodex[i] = nodes[i].x;
		Nodey[i] = nodes[i].y;  }  
	  
	  var platforms = WebCL.getPlatformIDs(); 
	  var ctx = WebCL.createContextFromType ([WebCL.CL_CONTEXT_PLATFORM, platforms[0]],
													   WebCL.CL_DEVICE_TYPE_DEFAULT);
	  
	  var formattedinsrc = BuildFIS(nodecount, fissize, partioncount, partitions, ctx, Nodex, Nodey);
		console.log(formattedinsrc);
		  //Make AJ Matrix Kernel
		  BuildAJKernel(ctx);

		  //Create AJ matrix Variable
		  	var subMatrixSize = 1 << 27;													//largest Uint32Array size that JS has supported
			var AJsize = ((nodecount +1) * (nodecount)) / 2;						//size of adjacency matrix as an array
			var totalMatrix = [];																//array for storing Uint32Array's
			var numSubMatrices = Math.ceil(AJsize / subMatrixSize);	//number of required subArrays stored in totalMatrix
			for(var i = 0; i < numSubMatrices; i++){									//adding the appropriate number of Iint32Array's to totalMatrix
				addArray(totalMatrix);}
			console.log("Finished adding");
			var myRow = 0;
			console.log("Stop 1");
			var mostRecent = { value:0 };
			console.log("Stop 2");
			var currentBufferSize = { value:0 };
			console.log("Stop 3");
			var size = 1 << 27;
			console.log("Stop 4");
			console.log("About to enter loop");
			//AJ = RunAJKernel(ctx, partioncount, AJbuffer, size, Nodex, Nodey, formattedinsrc, 0, nodecount, nodecount, fissize);

		  while(mostRecent.value < nodecount){
			console.log("Creating aj buffer");
			console.log(mostRecent.value);
		    var AJBuffer = getBuffer(totalMatrix, nodecount, myRow, mostRecent, currentBufferSize);
			console.log("aj");
			console.log(mostRecent.value);
			AJ = RunAJKernel(ctx, partioncount, AJBuffer, size, Nodex, Nodey, formattedinsrc, myRow, nodecount, subMatrixSize, fissize);
			console.log("setting buffer");
			console.log(mostRecent.value);
			setBuffer(totalMatrix, myRow, AJBuffer, currentBufferSize.value);
			console.log("last call in loop");
			console.log(mostRecent.value);
			myRow = mostRecent.value + 1;
			console.log(myRow);}
			
			console.log("About to enter Post Processing");
			//var clusters = postProcessing(AJ, nodecount, eps, 3);
			//Needs to be modified to handle half AJ
			console.log("After Post Processing");
			console.log(clusters);
	} catch(e) {
	  document.getElementById("output").innerHTML += "<h3>ERROR:</h3><pre style=\"color:red;\">" + e.message + "</pre>";
	  throw e;}
	  console.log("Finished");
}

</script>


<script type="text/javascript" src="point.js"></script>
</head>
<body>
	<p>
	<form>	
	<label for="eps">Epsilon:</label>
	<input id="eps" type="number" value="3" />
	<label for="minPts">Minimum Points:
	<input id="minPts" type="number" value="4" /></label>
	<input type="file" id="begin" />
	</form>
	</p>
	<script type="text/javascript" src="readFile.js"></script>
	<div id="output">&nbsp;</div>
</body>
</html>